.triangle-container {
    position: relative;
    width: 350px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
    margin:12px;
}

.triangle-outline {
    /* margin:12px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon {
      margin:12px;
    position: absolute;
    /* width: 15%;
    height: 15%;  */
    background-color: hsl(0, 0%, 100%);
    padding:8%;
    border-radius: 100%;
    margin-top: -52px;
}

.paper {
    top: 0;
    left: 0;
    border:12px solid red;
    margin-left:-42px;
}

.scissor {
    top: 0;
    right: 0;
    border:12px solid blue;
    margin-right:-48px;
}

.rock {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border:12px solid yellow;
  }
  